{
  "presets": [
    "react",
    "env",
    "es2015"
  ],
  "env": {
    "test": {
      "presets": [
        "react",
        "env",
        "es2015"
      ],
      "plugins": [
        "transform-class-properties",
        "transform-runtime"
      ]
    }
  }
}