<style>
    .fdb-block {
        border-bottom: solid 1px #EEE;
    }
</style>

<section class="fdb-block pb-0" style="background-image: url(imgs/bg_c_3.svg);">
    <div class="container" style="background-color: transparent">
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand" href="/">
                Syzible
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main"
                    aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-main">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apps">Apps</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/showcase">Showcase</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/developers">Developers</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="row justify-content-center" style="margin-top: 150px; margin-bottom: 150px">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <div class="fdb-box">
                <h1>App Showcase</h1>
                <p class="text-h3">
                    Find here a collection of releases with information and descriptions across varying categories spanning all three platforms. Look at showcases to see some in action.
                </p>
                <p class="mt-5">
                    <a href="https://play.google.com/store/apps/developer?id=Syzible" target="_blank" class="btn btn-shadow">Android</a>
                    <a href="#" class="btn btn-shadow">iOS</a>
                    <a href="/apps" class="btn btn-shadow">Web</a>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="fdb-block fdb-padding pb-0">
    <div class="container">
        <div class="row text-right align-items-center">
            <div class="col-12 col-lg-6 col-xl-5 m-lg-auto text-left">
                <h1>Loinnir - Fionn. Nasc. Braith.</h1>
                <p class="text-h3 pb-xl-4">Desc</p>

                <div class="row pt-5">
                    <div class="col-3">
                        <img alt="image" class="img-fluid" src="../imgs/img_round.svg">
                    </div>
                    <div class="col-9">
                        <p>Point 1</p>
                    </div>
                </div>

                <div class="row pt-5">
                    <div class="col-9 text-right">
                        <p>Point 2</p>
                    </div>

                    <div class="col-3">
                        <img alt="image" class="img-fluid" src="../imgs/img_round.svg">
                    </div>
                </div>
            </div>

            <div class="col-7 col-sm-4 m-auto pt-5 pt-md-0">
                <img alt="image" class="img-fluid br-b-0" src="../imgs/img_very_tall.png">
            </div>
        </div>
    </div>
</section>


<section class="fdb-block fdb-padding pb-0">
    <div class="container">
        <div class="row text-right align-items-center">

            <div class="col-7 col-sm-4 m-auto pt-5 pt-md-0">
                <img alt="image" class="img-fluid br-b-0" src="../imgs/img_very_tall.png">
            </div>
            <div class="col-12 col-lg-6 col-xl-5 m-lg-auto text-left">
                <h1>Real-Time Dublin</h1>
                <p class="text-h3 pb-xl-4">Desc</p>

                <div class="row pt-5">
                    <div class="col-3">
                        <img alt="image" class="img-fluid" src="../imgs/img_round.svg">
                    </div>
                    <div class="col-9">
                        <p>Point 1</p>
                    </div>
                </div>

                <div class="row pt-5">
                    <div class="col-9 text-right">
                        <p>Point 2</p>
                    </div>

                    <div class="col-3">
                        <img alt="image" class="img-fluid" src="../imgs/img_round.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="fdb-block fdb-padding pb-0">
    <div class="container">
        <div class="row text-right align-items-center">
            <div class="col-12 col-lg-6 col-xl-5 m-lg-auto text-left">
                <h1>Irish Nouns</h1>
                <p class="text-h3 pb-xl-4">Desc</p>

                <div class="row pt-5">
                    <div class="col-3">
                        <img alt="image" class="img-fluid" src="../imgs/img_round.svg">
                    </div>
                    <div class="col-9">
                        <p>Point 1</p>
                    </div>
                </div>

                <div class="row pt-5">
                    <div class="col-9 text-right">
                        <p>Point 2</p>
                    </div>

                    <div class="col-3">
                        <img alt="image" class="img-fluid" src="../imgs/img_round.svg">
                    </div>
                </div>
            </div>

            <div class="col-7 col-sm-4 m-auto pt-5 pt-md-0">
                <img alt="image" class="img-fluid br-b-0" src="../imgs/img_very_tall.png">
            </div>
        </div>
    </div>
</section>

<section class="fdb-block fdb-padding pb-0">
    <div class="container">
        <div class="row text-right align-items-center">

            <div class="col-7 col-sm-4 m-auto pt-5 pt-md-0">
                <img alt="image" class="img-fluid br-b-0" src="../imgs/img_very_tall.png">
            </div>
            <div class="col-12 col-lg-6 col-xl-5 m-lg-auto text-left">
                <h1>Téarma.ie</h1>
                <p class="text-h3 pb-xl-4">Desc</p>

                <div class="row pt-5">
                    <div class="col-3">
                        <img alt="image" class="img-fluid" src="../imgs/img_round.svg">
                    </div>
                    <div class="col-9">
                        <p>Point 1</p>
                    </div>
                </div>

                <div class="row pt-5">
                    <div class="col-9 text-right">
                        <p>Point 2</p>
                    </div>

                    <div class="col-3">
                        <img alt="image" class="img-fluid" src="../imgs/img_round.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>