<style>
    .fdb-block {
        border-bottom: solid 1px #EEE;
    }
</style>

<section class="fdb-block pb-0" style="background-image: url(imgs/bg_c_3.svg);">
    <div class="container animated bounceInDown" style="background-color: transparent">
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand" href="/">
                Syzible
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main"
                    aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-main">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apps">Apps</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/enquiries">Enquiries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/developers">Developers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/thesis">Thesis</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="row justify-content-center" style="margin-top: 150px; margin-bottom: 150px">
        <div class="col-12 col-md-10 col-lg-8 text-center" style="max-width: 1000px">
            <div class="fdb-box">
                <h1>App Showcase</h1>
                <p class="text-h3">
                    Find here a collection of releases with information and descriptions across varying categories
                    spanning all three platforms. Look at showcases to see some in action.
                </p>
                <p class="mt-5">
                    <a href="https://play.google.com/store/apps/developer?id=Syzible" target="_blank"
                       class="btn btn-shadow">Android</a>
                    <a href="#" class="btn btn-shadow">iOS</a>
                    <a href="/apps" class="btn btn-shadow">Web</a>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="fdb-block fdb-padding pb-0">
    <div class="container">
        <div class="row text-right align-items-center">

            <div class="col-7 col-sm-4 m-auto pt-5 pt-md-0">
                <img alt="image" class="img-fluid br-b-0" src="imgs/img_very_tall.png">
            </div>

            <div class="col-12 col-lg-6 col-xl-5 m-lg-auto text-left">
                <h1>Flag It! <span class="text-h3">#service #transportation</span></h1>
                <p class="text-h3 pb-xl-4">A more efficient and all-round solution to getting the bus you need to catch
                    when you need it.</p>

                <div class="row pt-5">
                    <div class="col-3">
                        <img alt="image" class="img-fluid" src="images/icon_flag_it.png">
                    </div>
                    <div class="col-9">
                        <p>Live Bus Tracking</p>
                        <p>Track buses with the click of a button and be informed about updates through notifications
                            about time to its arrival and last bus warnings.</p>
                    </div>
                </div>

                <div class="row pt-5">
                    <div class="col-9 text-right">
                        <p>Beautiful UI</p>
                        <p>Explore the app and find what you need quickly and seamlessly alongside offline schedules, a
                            Twitter feed and fare/route calculators.</p>
                    </div>

                    <div class="col-3">
                        <img alt="image" class="img-fluid" src="images/icon_flag_it.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fdb-block fdb-padding pb-0">
    <div class="container">
        <div class="row text-right align-items-center">
            <div class="col-12 col-lg-6 col-xl-5 m-lg-auto text-left">
                <h1>Loinnir <span class="text-h3">#social #network</span></h1>
                <p class="text-h3 pb-xl-4 text-justified">Loinnir is an Irish language social hub for all demographics
                    and ages for a common goal - creating a digital Gaeltacht and fostering use of the language.</p>

                <div class="row pt-5">
                    <div class="col-3">
                        <img alt="image" class="img-fluid" src="images/icon_loinnir.png">
                    </div>
                    <div class="col-9">
                        <p>Community</p>
                        <p>Users are matched to the nearest population centre to their location depending on their GPS
                            coordinates to chat publicly.</p>
                    </div>
                </div>

                <div class="row pt-5">
                    <div class="col-9 text-right">
                        <p>Matchmaking</p>
                        <p>A roulette can be spun to match a users individually - allowing users to talk privately and
                            expand circles.</p>
                    </div>

                    <div class="col-3">
                        <img alt="image" class="img-fluid" src="images/icon_loinnir.png">
                    </div>
                </div>
            </div>

            <div class="col-7 col-sm-4 m-auto pt-5 pt-md-0">
                <img alt="image" class="img-fluid br-b-0" src="imgs/img_very_tall.png">
            </div>
        </div>
    </div>
</section>


<section class="fdb-block fdb-padding pb-0">
    <div class="container">
        <div class="row text-right align-items-center">

            <div class="col-7 col-sm-4 m-auto pt-5 pt-md-0">
                <img alt="image" class="img-fluid br-b-0" src="imgs/img_very_tall.png">
            </div>

            <div class="col-12 col-lg-6 col-xl-5 m-lg-auto text-left">
                <h1>Irish Nouns <span class="text-h3">#game #education</span></h1>
                <p class="text-h3 pb-xl-4">A fun and interactive swiping game for guessing the gender of random words
                    with a category, translation and rule hints.</p>

                <div class="row pt-5">
                    <div class="col-3">
                        <img alt="image" class="img-fluid" src="images/icon_irish_nouns.png">
                    </div>
                    <div class="col-9">
                        <p>Rich Word Base</p>
                        <p>Users have 40,000+ words streamed into 127 categories - all with a translation and
                            highlighted hints for guessing the gender</p>
                    </div>
                </div>

                <div class="row pt-5">
                    <div class="col-9 text-right">
                        <p>High Score</p>
                        <p>Users are shown their current high score streak and are encouraged to beat it! Wrong answers
                            reset the streak back to 0.</p>
                    </div>

                    <div class="col-3">
                        <img alt="image" class="img-fluid" src="images/icon_irish_nouns.png">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="fdb-block fdb-padding pb-0">
    <div class="container">
        <div class="row text-right align-items-center">
            <div class="col-12 col-lg-6 col-xl-5 m-lg-auto text-left">
                <h1>Téarma.ie <span class="text-h3">#service #education</span></h1>
                <p class="text-h3 pb-xl-4">A quicker and more elegant way of looking up words via the Téarma.ie word
                    store.</p>

                <div class="row pt-5">
                    <div class="col-3">
                        <img alt="image" class="img-fluid" src="images/icon_tearma.png">
                    </div>
                    <div class="col-9">
                        <p>Man-in-the-Middle Parser</p>
                        <p>The service uses a self-made HTML parser and generates API requests in a known format for
                            either English or Irish.</p>
                    </div>
                </div>

                <div class="row pt-5">
                    <div class="col-9 text-right">
                        <p>Quick Results</p>
                        <p>Users are returned results in the form of flash-cards for easy knowledge building and a
                            friendlier interface.</p>
                    </div>

                    <div class="col-3">
                        <img alt="image" class="img-fluid" src="images/icon_tearma.png">
                    </div>
                </div>
            </div>

            <div class="col-7 col-sm-4 m-auto pt-5 pt-md-0">
                <img alt="image" class="img-fluid br-b-0" src="imgs/img_very_tall.png">
            </div>
        </div>
    </div>
</section>