<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell" style="text-align: center">
        <h2>Placeholder</h2>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
