<!DOCTYPE html>
<html>
<head>
    <title>Syzible | Think. Design. Make.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <link type="text/css" rel="stylesheet" href="css/froala_blocks.css">
</head>

<body>
<section class="fdb-block pb-0" style="background-image: url(imgs/bg_3.svg);">
    <div class="container animated bounceInDown" style="background-color: transparent">
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand" href="/">
                Syzible
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main"
                    aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-main">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/apps">Apps</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/enquiries">Enquiries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/developers">Developers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/thesis">Thesis</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container align-items-center justify-content-center d-flex" style="">
        <div class="row text-left">
            <div class="col-12 col-md-6 col-lg-5">
                <p class="mb-5 mt-5"><img alt="image" height="192" src="images/syzible_header.png"></p>
                <p class="text-h2 white-text">Software is our passion.</p>
                <p class="text-h2 white-text">Quality is our driving force.</p>
            </div>

            <div class="col-12 col-sm-4 col-md-6 col-lg-4 m-auto pt-5 align-items-end">
                <img alt="image" class="img-fluid br-0 animated bounceInRight" src="imgs/img_tall.png">
            </div>
        </div>
    </div>
</section>

<section class="fdb-block fdb-padding fdb-image-bg" style="background: url(imgs/img_bg.jpg)">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1>We <span class="heart">❤</span> Passion in our Work</h1>
            </div>
        </div>
    </div>
</section>

<section class="fdb-block fdb-padding team-8">
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-8">
                <h1>Tools of the Trade</h1>
                <p class="text-h3">Our expertise ranges across a wide array of tools and services for providing the best possible rendition of your next big idea.</p>
            </div>
        </div>

        <div class="row-100"></div>

        <div class="row justify-content-center text-left">
            <div class="col-sm-6">
                <div class="row align-items-center">
                    <div class="col-4">
                        <img alt="image" class="img-fluid" src="images/android_studio.svg">
                    </div>

                    <div class="col-8">
                        <h3><strong>Mobile</strong></h3>
                        <p>#android #ios</p>
                        <p class="text-h3 text-justified">Mobile devices are invaluable to a person's life - providing a world of apps to connect users and become a daily service of apps.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="row align-items-center">
                    <div class="col-4">
                        <img alt="image" class="img-fluid" src="images/backend.svg">
                    </div>

                    <div class="col-8">
                        <h3><strong>Backend</strong></h3>
                        <p>#python #javascript #java #ruby</p>
                        <p class="text-h3 text-justified">Backend encompasses the storage of data in the cloud and the logic behind how devices communicate with each other.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-70"></div>

        <div class="row justify-content-center text-left">
            <div class="col-sm-6">
                <div class="row align-items-center">
                    <div class="col-4">
                        <img alt="image" class="img-fluid" src="images/frontend.svg">
                    </div>

                    <div class="col-8">
                        <h3><strong>Frontend</strong></h3>
                        <p>#html #css #sass #javascript</p>
                        <p class="text-h3 text-justified">Frontend encompasses what you see in your web browser and is comprised of three main building blocks - HTML, CSS, and JavaScript.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="row align-items-center">
                    <div class="col-4">
                        <img alt="image" class="img-fluid" src="images/design.svg">
                    </div>

                    <div class="col-8">
                        <h3><strong>Design</strong></h3>
                        <p>#gimp #ux #svg</p>
                        <p class="text-h3 text-justified">Design encompasses the layout and user experience of a website or app. Image editing tools and diagrams are key to a good UX.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>