<form action="/tearma/results" method="get" class="search-box">
    <div class="mdl-shadow--2dp">
        <div class="search-area">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="term" name="term">
                <label class="mdl-textfield__label" for="term">Enter query ...</label>
            </div>
        </div>

        <div class="content-grid mdl-grid mdl-card__actions mdl-card--border">
            <div class="mdl-cell">
                <a> <input type="submit" value="Search"
                           class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"/>
                </a>
            </div>
            <div class="mdl-cell">
                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="lang">
                    <input type="checkbox" id="lang" name="lang" class="mdl-switch__input" checked>
                    <span class="mdl-switch__label">Search English?</span>
                </label>
            </div>
        </div>
    </div>
</form>