<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell" style="text-align: center">
        <h3>{{greeting}}</h3>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>