.background-nav {
    background-color: #FF5252;
}

.text-is-white {
    color: white;
}

@-webkit-keyframes loadAnimations {
    from {
        opacity: 0;
        margin-top: 25%;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}

@-moz-keyframes loadAnimations {
    from {
        opacity: 0;
        margin-top: 25%;

    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes loadAnimations {
    from {
        opacity: 0;
        margin-top: 25%;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}

.load-animations {
    margin-top: 25%;
    opacity: 0;
    -webkit-animation: loadAnimations ease-in 1;
    -moz-animation: loadAnimations ease-in 1;
    animation: loadAnimations ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.tile {
    width: auto;
    margin: 0 auto;
    padding: 10px
}

.logo-image {
    margin: 10px auto auto;
    vertical-align: middle;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 200px;
    min-height: 200px;
}

img.image-headline {
    height: auto;
    width: auto;
    max-height: 25vh;
    max-width: 25vw;
    margin: 0 auto 0;
}

img.google-play-icon {
    height: auto;;
    width: auto;
    max-height: 10vh;
    max-width: 10vw;
}

flipped-vertical {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}